:host {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #f90;
    font-size: 15px;
    width: 600px;
    text-align: center
}
.middle {
    width: 600px;
    align-items: center;
}
.inputstyle {
    width: 600px;
}
.okstyle {
    margin-top: 100px;
    margin-left: 250px;
    width: 100px;
    color: #f90;
    text-align: center;
}
